

#modal-confirmremoveuser.modal
	.modal-background
	.modal-content
		button.modal-close
		.box.is-text-centered
			h2.text-primary Remove User
			
			.team.team-invite-remove
				.team-member-container
					.team-member
						img(src="#")
					h4 user name
					p status


			p Are you sure you want to remove this user?

			.modal-buttons
				a.button.is-danger.is-outlined() Yes, remove this user
				a.button.is-primary.is-outlined() No