
#modal-help.modal.is-wide
	.modal-background
	.modal-content
		button.modal-close
		.box.is-text-centered
			h2.text-primary How to use the editor?

			.columns.editor-help-container
				.column.editor-section
					img(src="#")
					h4.text-primary Drag and drop components
					p Drag components from the components library to the editor canvas

				.column.editor-section
					img(src="#")
					h4.text-primary Click and drag to connect
					p Click on the blue diamond to start connecting components. Drag the line to another component to connect.

				.column.editor-section
					img(src="#")
					h4.text-primary Run Experiment
					p Click on the 'Run Experiment' button to test if your circuit works.

			.modal-buttons
				a.button.is-primary Got it!