
#modal-leaveproject.modal
	.modal-background
	.modal-content
		button.modal-close
		.box.is-text-centered
			h2.text-primary Leave Experiment
			.control
				label Experiment name
				h3.text-primary.experiment-title Show experiment name here

			p Are you sure you want to leave this experiment?

			.modal-buttons
				a.button.is-primary.is-outlined() Yes
				a.button.is-primary.is-outlined() No