

#modal-reset.modal
	.modal-background
	.modal-content
		button.modal-close
		.box.is-text-centered
			h2.text-primary Reset Experiment			

			p Are you sure you want to reset the experiment?

			.modal-buttons
				a#reset.button.is-danger.is-outlined() Yes, reset the experiment
				a.button.is-primary() No, go back