
#modal-run.modal.is-wide
	.modal-background
	.modal-content
		button.modal-close
		.box.is-text-centered
			img.empty-data.empty-data-small(src="/images/logo-icon-blue.png")
			h2.text-primary Please wait while we run the results

			.modal-buttons
				a.button.is-primary.is-outlined() Cancel