
#modal-results.modal.is-wide
	.modal-background
	.modal-content
		button.modal-close
		.box.is-text-centered
			
			// Plotly graph
			#results-graph(style="width: 800px; height: 450px;")

			.modal-buttons
				a.button.is-primary() Download Results