extends index

block content
	include /objects/nav-login

	.register-block.is-text-centered
		a.arrow-back(href="/signin"): i.fa.fa-arrow-left

		h2.text-primary Forget Password?

		form
			p.terms.
				No problem, We'll send you a link to reset your password. Be sure to use your email that you have registered with us to retrieve your password!

			.control
				input.input(type="email", placeholder="Email Address")

			a.button.is-primary(href="#") Submit
