
section#features.landing.landing-gray
	.section-container
		h1.text-primary Product Features

		.columns.product-features
			.column.feature-block
				img(src="/images/landing/feature-01.png")
				h3.text-dark Effective Design &amp; Analysis
				p Our product allows you to effectively design an electrical or optical circuit.

			.column.feature-block
				img(src="/images/landing/feature-02.png")
				h3.text-dark Pre-estimated Cost
				p Calculate the estimated cost of the entire project before purchasing the components.

			.column.feature-block
				img(src="/images/landing/feature-03.png")
				h3.text-dark Choice of effecient devices
				p We will help you match the components that is available and most compatible in the market.

			.column.feature-block
				img(src="/images/landing/feature-04.png")
				h3.text-dark Pre-estimated performance
				p Get the most comprehensive results and the pre-estimated performance of your circuit.


