
footer.footer
	.footer-container
		.columns
			.column
				img.logo(src="/images/logo-blue.png")
			.column
				h3.text-primary.text-uppercase Product
				ul.footer-li
					li: a(href="#features") Features
					li: a(href="#pricing") Pricing
					li: a(href="#partners") Partners

			.column
				h3.text-primary.text-uppercase User
				ul.footer-li
					li: a(href="/signin") Login
					li: a(href="/register") Register

			.column
				h3.text-primary.text-uppercase Follow Us
				ul.footer-li.footer-li-social
					li: a(href="#"): i.fa.fa-facebook
					li: a(href="#"): i.fa.fa-twitter
					li: a(href="#"): i.fa.fa-linkedin

			.column.is-text-right.try-now
				a.button.is-primary(href="/register") Try Now
				p.text-white Register and start with a 60 days trial today.


		p.copyright.is-text-right Qucs - Zaquantum. Copyright 2016. All rights reserved.