
.hero

	.hero-overlay.is-overlay
	
	include /objects/nav-landing

	.hero-content
		h1.text-white An Effective Design &amp; Analysis Simulation Tool
		h2.text-white Your Solution, Our Passion.
		a.button.is-primary(href="/register") Get Started