
section#pricing.landing
	.section-container
		h1.text-primary Pricing Plans
		p.text-gray A plan to suit every needs. Try Qucs (Basic plan) for 60 days for free.

		include /objects/pricing-block
		+pricingBlock("Start trial now", "/register", "Purchase Now", "/register", "Purchase Now", "/register")