
// color variables

$primary: #3593CF;
$secondary: #EBF2F6;

$white: #fff;
$lightgray: #EBF2F6;
$background: #F9FAFB;
$red: #F7465C;
$darkred: #D0021B;
$yellow: #F5C523;

$blacktext: #2F343D;
$graytext: #8C97B2;
$disabledtext: #CDCDCD;

$basic: #FFD300;
$intermediate: #F5A623;
$advance: #F57023;