nav.navbar.navbar-underline
	.navbar-left
		.navbar-item
			a.button.is-primary.is-outlined(href="/experiment") Back to Editor

	.navbar-item.experiment-title
		h3.text-primary#modal-button-editname Results 

	.navbar-right
		.navbar-item
			a.button.is-primary(onclick="window.print();") Download Results