
.navbar.navbar-landing
	.navbar-left
		.navbar-item
			img.logo(src="/images/logo-white.png")

	.navbar-right
		.navbar-item
			ul.nav-landing-li
				li: a(href="#features") Features
				li: a(href="#pricing") Pricing
				li: a(href="#partners") Partners
				li.register
					a(href="/signin") Login
					a(href="/register") Register