
.navbar
	.navbar-left
		.navbar-item
			a(href="/"): img.logo(src="/images/logo-blue.png")

	.navbar-right
		.navbar-item
			ul.nav-landing-li.nav-login
				li Already have an account?
				li
					a.button.is-primary(href="/signin") Login Now