
mixin pricingBlock(linkname1, link1, linkname2, link2, linkname3, link3)
	.tabs.is-toggle.is-centered
		ul#pricing-tabs
			li#academic.is-active: a Academic
			li#nonacademic: a Non-academic


	.price-container
		#basic.price-block
			.row
				h4.text-uppercase Basic
			.row
				h1.text-primary #[sup RM] 10
				select.price-select
					option(value="month") Monthly
			.row
				ul.price-features
					li Advanced Components & Free experimental design
					li Free 60 days trial
			.row
				a.button.is-primary.is-fullwidth(href="#{link1}")= linkname1

		#intermediate.price-block
			.row
				h4.text-uppercase Intermediate
			.row
				h1.text-primary #[sup RM] 50
				select.price-select
					option(value="month") Monthly
			.row
				ul.price-features
					li Advanced Components & Free experimental design
					li Research Collaboration
			.row
				a.button.is-primary.is-outlined.is-fullwidth(href="#{link2}")= linkname2

		#advance.price-block
			.row
				h4.text-uppercase Advance
			.row
				h1.text-primary #[sup RM] 80
				select.price-select
					option(value="month") Monthly
			.row
				ul.price-features
					li Full components & Research Collaboration
					li Decision making system
					li Research Collaboration
			.row
				a.button.is-primary.is-outlined.is-fullwidth(href="#{link3}")= linkname3
