
.canvas-column{
	overflow: scroll;
	background: $background;
	height: 100%;
	position: relative;

	.canvas-editor-block{
		overflow: scroll;
		width: 100%;
		height: calc(100% - 100px);
	}

	.canvas-ads{
		position: fixed;
		bottom: 20px;
		left: 18%;
		width: auto;
		max-width: 70%;
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
	}

	.button-help{
		position: fixed;
		bottom: 30px;
		right: 19%;
	}
}

